<ion-view title = "Inicia sesión">
    <ion-content padding = "true" class = "has-header">
        <form class = "list">
            <ion-list>
                <label class = "item item-input">
                    <span class = "input-label">Usuario</span>
                    <input type = "text" placeholder = "">
                </label>
                <label class = "item item-input">
                    <span class = "input-label">Contraseña</span>
                    <input type = "password">
                </label>
            </ion-list>
            <div class = "spacer" style = "height: 40px;"></div>
            <a ui-sref = "menu.searchGPS" class = "button button-assertive  button-block">Ingresa</a>
            <a ui-sref = "signup" class = "button button-block button-positive">O crea una cuenta</a>
        </form>
    </ion-content>
</ion-view>
