<ion-view title = "Inicia sesión" ng-controller = "LogIn">
    <ion-content padding = "true" class = "has-header">
        <form class = "list">
            <ion-list>
                <label class = "item item-input">
                    <span class = "input-label">Usuario</span>
                    <input type = "text" ng-model = "userVerify.username">
                </label>
                <label class = "item item-input">
                    <span class = "input-label">Contraseña</span>
                    <input type = "password" ng-model = "userVerify.password">
                </label>
            </ion-list>
            <div class = "spacer" style = "height: 40px;"></div>
            <a ng-click = "verify()" class = "button button-assertive button-block">Ingresa</a>
            <a ui-sref = "signup" class = "button button-block button-positive">O crea una cuenta</a>
        </form>
    </ion-content>
</ion-view>
