<ion-view title = "Inicia sesión" ng-controller = "LogIn">
    <ion-content padding = "true" style = "background: url( img/login.jpg ) center; background-size: cover;">
        <p style = "text-align:center;"><img src = "img/icon.png" height = "220" width = "220"></p>
        <form class = "list">
            <ion-list>
                <label class = "item item-input">
                    <i class = "icon ion-person placeholder-icon"></i>
                    <input type = "text" placeholder = "Usuario" ng-model = "userVerify.username">
                </label>
                <label class = "item item-input">
                    <i class = "icon ion-ios-locked placeholder-icon"></i>
                    <input type = "password" placeholder = "Contraseña" ng-model = "userVerify.password">
                </label>
            </ion-list>
            <a ng-click = "verify()" class = "button ion-ios-unlocked-outline button-positive button-block">Ingresa</a>
            <div class = "spacer" style = "height: 75px;"></div>
            <p style = "text-align: right;"><a ui-sref = "signup" class = "button button-clear button-light button-right">Crea una cuenta</a></p>
        </form>
    </ion-content>
</ion-view>
