<ion-view view-title = "Búsqueda por GPS" ng-controller = "Map">
    <ion-content scroll = "true" style = "background: url( img/medic.jpg ) center; background-size: cover;">
        <div id = "map" class = "map" data-tap-disabled = "true"></div>
        <div class = "item range range-positive" style = "width: 90%; margin: 0 auto;">
            <input type = "range" ng-model = "search.value" name = "volume" min = "1" max = "10000" value = "search.value">
            <i class = "icon ion-pinpoint"></i>
        </div>
        <button class = "button ion-android-search button-block button-positive" style = "width: 90%;margin: 0 auto;" ng-click = "find()">
            Buscar en {{ search.value / 1000 }} kilómetros
        </button>
    </ion-content>
</ion-view>
